{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid navbar-brand bg-primary" style="height: 100vh; color: white">
        <div class="container">
            <p style=" color: white">QUACKNET</p>
            <img src="{{ asset('build/duck-white.svg') }}" alt="quacknet-logo">
        </div>

    </div>

{% endblock %}