{% extends 'base.html.twig' %}

{% block title %}New Quack{% endblock %}

{% block body %}
    <div class="container">
        <h1>Create new Quack</h1>
        <a class="d-flex justify-content-end mr-3" href="{{ path('quack_index') }}">back to list</a>
        {{ include('quack/_form.html.twig') }}


    </div>

{% endblock %}
