//   color: #8f0237;
//    color: #e1a4a9;
.home{
  color: white;
  h1{
    font-size: 6rem ;
    font-weight: 900;
    color: white;
  }
}

.cardCustom{
  background-color: rgba(0,0,0,0.6);
  width: fit-content;
  padding: 3em;
}